<div class="table-container">
  <div class="header">
    <div class="photo-container">
      <img class="photo" src={{userAvatar}} alt="">
    </div>
    <div class="name">{{userName}}</div>
    <div class="bio">Bio</div>
    <div class="filter">
      <form class="form-style" [formGroup]="filterForm" (ngSubmit)="filterRepositories(filterForm)">
        <input class="filter-input" type="text" formControlName="userRepo">
        <button class="filter-button" type="submit">Buscar repo</button>
      </form>
    </div>
    <div class="checkbox">
      <div class="checkbox-style"><input type="checkbox"></div>
      <div class="check-text"><span>HTML</span></div>
    </div>
  </div>

  <div class="table-format">
    <table>
      <tr class="header-table-format">
        <th class="w-20">  <span>NOMBRE DEL REPO</span> <img (click)="orderNameRepository()" class="arrow-style aa" src="./../../assets/arrow-red-down.png" alt=""> </th>
        <th class="w-17">  <span class="aa">DESCRIPCIÓN</span> </th>
        <th class="w-25">  <span class="aa">ENLACE AL REPO</span>  </th>
        <th class="w-13">  ESTRELLAS  <img (click)="orderStarsRepository()" class="arrow-style aa" src="./../../assets/arrow-red-down.png" alt=""></th>
        <th class="w-25"> <span class="aa">LENGUAJES DE PROGRAMACIÓN</span> </th>
      </tr>
      <tr *ngFor="let repository of repositories">
        <td class="pt-30">{{repository.name}}</td>
        <td class="pt-30">{{repository.description}}</td>
        <td class="pt-30">{{repository.html_url}}</td>
        <td class="pt-30">{{repository.stargazers_count}}</td>
        <td class="pt-30">{{repository.language}}</td>
      </tr>
    </table>
  </div>
</div>