.table-container {
    width: 90%;
    margin-top: 50px;
}

.header-table {
    border-bottom: 4px solid grey;
}

.w-20 {
    width: 20%;
}

.w-17 {
    width: 17%;
}

.w-25 {
    width: 25%;
}

.w-13 {
    width: 13%;
}

.pt-30 {
    padding-top: 30px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    text-align: left;
    padding: 8px;
}


.aa {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.bb {
    grid-area: 1/1/5/3;
    margin-top: auto;
    margin-bottom: auto;
}

.cc {
    grid-area: 1/3/3/8;
    margin-top: auto;
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 30px;
    font-weight: 600;
}

.dd {
    grid-area: 3/3/5/8;
    margin-top: 15px;
    margin-bottom: auto;
    margin-left: 15px;
    font-size: 20px;
}

.ee {
    grid-area: 1/8/3/11;
    margin-top: auto;
    margin-bottom: 15px;
    text-align: right;
}

.ff {
    grid-area: 3/8/5/11;
    margin-top: 15px;
    margin-bottom: auto;
    display: flex;
}

.profile-style {
    height: 150px;
    border-radius: 50%;
    border: 3px solid grey;
}

.filter-button {
    margin-left: 10px;
    height: 25px;
    width: 94px;
    font-weight: 400;
    background-color: black;
    color: white;
}

.filter-button:hover {
    background-color: rgb(34, 33, 33);
}

.filter-input {
    height: 20px;
    width: 12vw;
}

.checkbox-style {
    margin-top: 1px;
}

.check-text {
    font-weight: 600;
    margin-right: 15px;
}

.fff {
    display: grid;
    justify-items: center;
}