

.table-container {
    width: 90%;
}

.header-table {
    border-bottom: 4px solid grey;
}

.w-20 {
    width: 20%;
}

.w-17 {
    width: 17%;
}

.w-25 {
    width: 25%;
}

.w-13 {
    width: 13%;
}
.pt-30{
    padding-top: 30px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    text-align: left;
    padding: 8px;
}