//##########################################  LAYOUT   ##################################################
.template-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.table {
    grid-area: 3/1/7/7;
    display: flex;
    justify-content: center;
}

.search {
    font-family: Quicksand, sans-serif !important;
    grid-area: 2/1/3/7;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}



//##########################################  IMG STYLES   ##################################################


//##########################################  TEXT STYLES   ##################################################


.header {
    grid-area: 1/1/2/7;
    display: flex;
    align-items: center;
}

.grey-background {
    background-color: grey;
}

//##########################################  BUTTONS STYLES   ##################################################




//##########################################  ERROR CONTROL STYLES   ##################################################














