<div class="app-container">
  <app-header class="app-header"></app-header>
  <app-search class="app-search" 
  (repositorySize)="repositorySize($event)" 
  (repositoryData)="repositoryData($event)"
  (repositoryAvatar)="repositoryAvatar($event)"
  (repositoryUserName)="repositoryUserName($event)"
  (repositoryBio)="repositoryBio($event)"
  (repositoryUniqueLenguage)="repositoryUniqueLenguage($event)"
  (submitted)="submitted($event)">
  </app-search>
  <app-table class="app-table" 
  *ngIf="repositoryLength > 0" 
  [repositoryLength]="repositoryLength"
  [repositories]="repositories" 
  [userSubmitted]="userSubmitted"
  [userAvatar]="userAvatar"
  [userName]="userName"
  [bio]="bio"
  [uniqueLenguage]="uniqueLenguage"
  >
  </app-table>
</div>