<div class="app-container">
  <app-header class="app-header"></app-header>
  <app-search class="app-search" 
    (userEvt)="setUser($event)"
    (repositoriesEvt)="setRepositories($event)"
    (languagesEvt)="setLanguages($event)"
    (errorEvt)="setError($event)"
    (isLoadingEvt)="setIsLoading($event)"
    (isSubmittedEvt)="setIsSubmitted($event)">
  </app-search>
  <app-table class="app-table" 
    [user]="user" 
    [repositories]="repositories" 
    [languages]="languages" 
    [error]="error" 
    [isLoading]="isLoading"
    [isSubmitted]="isSubmitted">
  </app-table>
</div>