.form-style {
    grid-area: 1/2/2/3;
    text-align: center;
}

.search-input {
    height: 30px;
    width: 40vw;
}

.search-button {
    margin-left: 20px;
    height: 35px;
    width: 114px;
    font-weight: 700;
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
    &:disabled {
        opacity: 0.35;
    }
}

.search-button:hover {
    background-color: var(--gray)
}

.error-control {
    grid-area: 2/2/3/3;
    margin-top: 8px;
    color: var(--red);
    font-weight: bold;
}