<form class="form-style" [formGroup]="userForm" (ngSubmit)="searchUser(userForm)">
  <input class="search-input" type="text" placeholder="Buscar usuario de Github"  formControlName="userName"
    (keydown)="cleanSubmit()" (mouseup)="cleanSubmit()">
  <button class="search-button" type="submit">Buscar</button>
</form>
<div [style.visibility]="userSubmitted && userName?.errors?.['required'] ? 'visible' : 'hidden'" class="error-control">
  * Campo obligatorio.
</div>
<div
  [style.visibility]="userSubmitted && !userName?.errors?.['required'] && repositoryLength === 0 ? 'visible' : 'hidden'"
  class="error-control">
  * No hay repositorios con ese nombre de usuario.
</div>